.custom-input {
    background-color: #d5f2ffa8;
    color: #333; 
    border-color: white;
  }

  .custom-btn {
    background-color: #001c30;
    border-color: #ffffff;
  }

  .custom-btn:hover {
    background-color: #001c30; 
   
  }.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 200px;
    height: 200px;
}