<div class="container">
    <div class="banner">
      <div class="text-content">
        <div class="date">{{ currentDate | date: 'EEEE, MMMM d, y' }}</div>
        <h1 class="welcome-message">Welcome back!</h1>
        <p class="subtext">Stay ahead of employee records, announcements, and HR tasks. Let’s make today productive!</p>
      </div>
      <div class="illustration">
        <!-- Placeholder for the 3D illustration -->
        <img src="data.png " alt="Illustration">
      </div>
    </div>
    <!-- chart and card -->
    <div class="row mt-4">
          <div class="row concards">
            <div class="col">
              <div class="card mb-4 bg-c-green order-card">
                <div class="card-body">
                  <i class="bi bi-book card-icon"></i>
                  <h2 class="text-right"><span>{{ juniorHighTotal }}</span></h2>
                  <p class="m-b-0 text-right ms-1">Employees</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 bg-c-yellow order-card">
                <div class="card-body">
                  <i class="bi bi-mortarboard card-icon"></i>
                  <h2 class="text-right"><span>{{ seniorHighTotal }}</span></h2>
                  <p class="m-b-0 text-right ms-1">Department</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 bg-c-blue order-card">
                <div class="card-body">
                  <i class="bi bi-people card-icon"></i>
                  <h2 class="text-right"><span>{{ totalEnrollments }}</span></h2>
                  <p class="m-b-0 text-right ms-1">Leave Types</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <h2 class="text-center">Leave Details</h2>
      <div class="row mt-4">
        <div class="row concards">
          <div class="col">
            <div class="card mb-4 bg-c-green order-card">
              <div class="card-body">
                <i class="bi bi-book card-icon"></i>
                <h2 class="text-right"><span>{{ juniorHighTotal }}</span></h2>
                <p class="m-b-0 text-right ms-1">Applied</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 bg-c-yellow order-card">
              <div class="card-body">
                <i class="bi bi-mortarboard card-icon"></i>
                <h2 class="text-right"><span>{{ seniorHighTotal }}</span></h2>
                <p class="m-b-0 text-right ms-1">Approved</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 bg-c-blue order-card">
              <div class="card-body">
                <i class="bi bi-people card-icon"></i>
                <h2 class="text-right"><span>{{ totalEnrollments }}</span></h2>
                <p class="m-b-0 text-right ms-1">Rejected</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>